const mysql = require('mysql2')

const conexion = mysql.createConnection({
    host: '',
    database: '',
    user: '',
    password: ''
});

conexion.connect(function(err){
    if(err){
        throw err;
    }else{
        console.log('CONEXION EXITOSA');
    }
});

conexion.end();